[Unit]
Description=Enable CPU power saving

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/default/set_cpu_governor
ExecStart=/opt/bin/set-cpu-governor.sh

[Install]
WantedBy=multi-user.target
